{
    "plugins": [
        {
            "name": "",
            "type": "",
            "jType": "",
            "resourceId": "",
            "projectSlug": "",
            "job":"",
            "minecraftVersion": "",
            "filenamePattern": "",
            "disableOnTest": false,
            "enabled": true
        },
    ]
}